<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="swimmers" type="java.util.List<es.uji.ei1027.model.Swimmer>"*/-->
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0LGTKb8NPx8fBKaojW3qF+Qo2Yhhs/mBrVHMYjPV8V/o4ZAmZ1cpGI2OeQab16T2" crossorigin="anonymous"/>

        <link rel="stylesheet" href="/css/styles.css"/>

        <title>Sports Club - Swimmers List</title>
    </head>
    <body>
        <th:block th:replace="header :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Swimmers</h1>
                <p class="lead">List of all swimmers</p>
            </div>
        </div>

        <th:block th:replace="logininfo :: info"/>
        <br>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <input class="form-control" id="search" type="text" placeholder="Filter swimmers..."/>
                </div>
            </div>
            <br/>
            <div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(swimmers)}">
                There are not swimmers in the data base
            </div>
            <table th:unless="${#lists.isEmpty(swimmers)}" class="table table-hover table-responsive-md" id="swimmers-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 15%;">Federate ID</th>
                        <th scope="col" style="width: 30%;">Name</th>
                        <th scope="col" style="width: 15%;">Country</th>
                        <th scope="col" style="width: 5%;">Age</th>
                        <th scope="col" style="width: 10%;">Sex</th>
                        <th scope="col" style="width: 25%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="swimmer : ${swimmers}">
                        <td class="align-middle" th:text="${swimmer.fedId}"></td>
                        <td class="align-middle" th:text="${swimmer.name}"></td>
                        <td class="align-middle" th:text="${swimmer.country}"></td>
                        <td class="align-middle" th:text="${swimmer.age}"></td>
                        <td class="align-middle" th:text="${swimmer.sex}"></td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-start">
                                <div class="p-2">
                                    <a class="btn btn-info" th:href="@{/swimmer/update/{name}(name=${swimmer.name})}" role="button">Update</a>
                                </div>
                                <div class="p-2">
                                    <a class="btn btn-danger" th:href="@{/swimmer/delete/{name}(name=${swimmer.name})}" role="button">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="add" role="button">Add new Swimmer</a>
            </div>
        </div>

        <footer class="footer bg-light">
            <div class="d-flex align-items-center">
                <div class="container p-2">
                    <p class="small text-dark text-center">
                        Made by <a href="https://github.com/SackCastellon">@SackCastellon</a>
                        using <a href="https://spring.io/">Spring MVC</a>
                        and <a href="https://getbootstrap.com/">Bootstrap 4</a>
                    </p>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"
                integrity="sha256-ifihHN6L/pNU1ZQikrAb7CnyMBvisKG3SUAab0F3kVU=" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {
                $("#search").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#swimmers-table").find("tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </body>
</html>