<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>-->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0LGTKb8NPx8fBKaojW3qF+Qo2Yhhs/mBrVHMYjPV8V/o4ZAmZ1cpGI2OeQab16T2" crossorigin="anonymous"/>

        <link rel="stylesheet" href="/css/styles.css"/>

        <title>Sports Club - Swimmers List</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary sticky-top navbar-expand-lg">
            <a class="navbar-brand mb-0 h1" href="/">Sports Club</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSwimmers" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Swimmers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownSwimmers">
                            <a class="dropdown-item active" href="/swimmer/list">View list</a>
                            <a class="dropdown-item" href="/swimmer/add">Add new</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEvents" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Events
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownEvents">
                            <a class="dropdown-item" href="/event/list">View list</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCountries" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Countries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownCountries">
                            <a class="dropdown-item" href="/country/list">View list</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Swimmers</h1>
                <p class="lead">List of all swimmers</p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <input class="form-control" id="search" type="text" placeholder="Filter swimmers..."/>
                </div>
            </div>
            <br/>
            <table class="table table-hover table-responsive-md" id="swimmers-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 15%;">Federate ID</th>
                        <th scope="col" style="width: 30%;">Name</th>
                        <th scope="col" style="width: 15%;">Country</th>
                        <th scope="col" style="width: 5%;">Age</th>
                        <th scope="col" style="width: 10%;">Sex</th>
                        <th scope="col" style="width: 25%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!--/*@thymesVar id="swimmers" type="java.util.List<es.uji.ei1027.sportsclub.model.Swimmer>"*/-->
                    <tr th:each="swimmer : ${swimmers}">
                        <td class="align-middle" th:text="${swimmer.fedId}"></td>
                        <td class="align-middle" th:text="${swimmer.name}"></td>
                        <td class="align-middle" th:text="${swimmer.country}"></td>
                        <td class="align-middle" th:text="${swimmer.age}"></td>
                        <td class="align-middle" th:text="${swimmer.sex}"></td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-start">
                                <div class="p-2">
                                    <a class="btn btn-info" th:href="@{/swimmer/update/{name}(name=${swimmer.name})}" role="button">Update</a>
                                </div>
                                <div class="p-2">
                                    <button type="button" class="btn btn-danger" th:onclick="'confirmDeleteSwimmer(&quot;'+${swimmer.name}+'&quot;)'"
                                            data-toggle="modal" data-target="#confirmDeleteModal" data-backdrop="static">Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="/swimmer/add" role="button">Add new Swimmer</a>
            </div>
        </div>

        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalTitle">Delete confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmDeleteModalBody">
                        Are you sure you want to delete the Swimmer?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep</button>
                        <button type="button" class="btn btn-danger" onclick="deleteSwimmer()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer bg-light">
            <div class="d-flex align-items-center">
                <div class="container p-2">
                    <p class="small text-dark text-center">
                        Made by <a href="https://github.com/SackCastellon">@SackCastellon</a>
                        using <a href="https://spring.io/">Spring MVC</a>
                        and <a href="https://getbootstrap.com/">Bootstrap 4</a>
                    </p>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"
                integrity="sha256-ifihHN6L/pNU1ZQikrAb7CnyMBvisKG3SUAab0F3kVU=" crossorigin="anonymous"></script>

        <script>
            var swimmerName = "";

            function confirmDeleteSwimmer(name) {
                console.log("Trying to delete: " + name);
                swimmerName = name
            }

            function deleteSwimmer() {
                if (swimmerName !== "") {
                    window.location.assign("/swimmer/delete/" + swimmerName)
                } else {
                    $('#confirmDeleteModal').modal('hide')
                }
            }

            $('#confirmDeleteModal').on('show.bs.modal', function (e) {
                $("#confirmDeleteModalBody").html("Are you sure you want to delete the Swimmer <b>" + swimmerName + "</b>?")
            });

            $(document).ready(function () {
                $("#search").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#swimmers-table").find("tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </body>
</html>