html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 75px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer > div {
    height: 50px;
}

.footer > div > div > p {
    margin-bottom: 0;
}