<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="container" th:fragment="info" th:object="${session}">
            <div class="d-flex justify-content-end">
                <div class="align-middle" th:if="*{user == null}">
                    Not authenticated
                    &nbsp;&nbsp;
                    <a class="btn btn-primary" href="/login" th:href="@{/login}">Login</a>
                </div>
                <div class="align-middle" th:unless="*{user == null}">
                    Authenticated as
                    <span class="text-info font-weight-bold" th:text="*{user.username}"></span>
                    &nbsp;&nbsp;
                    <a class="btn btn-secondary" href="/logout" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </body>
</html>
